.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo img{
  height: 10vh;
  padding: 1%;
}

.nav-links{
  margin: -5% 20%;
  display: flex; 
  font-weight: bold;
  font-size: 2em;
  gap: 25%;

}

.nav1{
  color: #ffffff;
}
.nav2{
  color: #ffffff;
}
.nav3{
  color: #ffffff;
}
.nav4{
  color: #ffffff;
}

body{
  background-color:rgb(49,51,56);
  margin-top: 135px;
  
}
.nav{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 14%;
  background-color:rgb(2, 7, 37);
  top: 0;
  left: 0;
  color: antiquewhite;
  

}
.search{
  margin-left: 53%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 2em;
  position: fixed;
}



.post {
  width: 62%;
  margin-left: 3%;
  margin-top: 4%;
  border: 3px solid rgb(28, 28, 31);
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  background:rgb(70, 72, 77);
  position: fixed;
  
}

.post img {
  max-width: 100%;
  height: auto;
}
.inbox {
  width: 27%;
  margin-top: 1%;
  margin-left: 70%;
  border: 3px solid rgb(28, 28, 31);
  padding: 10px;
  color: rgb(255, 255, 255);
  background:rgb(70, 72, 77);
  position: fixed;
  border-radius: 10px;
 
}
.chattxt {
  align-items: center;
  font-size: bold;
  
}
.friendlist1 {
  border: 3px solid rgb(28, 28, 31);
  display: flex;
  border-radius: 10px;
  
}

.friend-request-item {
  margin: 10px;
  border: #000;
  list-style: none;
  border-radius: 10px;
  
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make it round */
}

.username {
  padding: 5px;
  margin-top: 5px;
}
.profile-container {
  display: flex;
  border: 3px solid #000;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.profile-picture {
  text-align: center;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  
  
}

.profile-details {
  text-align: center;
  padding: 10%;
  }

.profile-details h2 {
  font-size: 24px;
  margin: 0;
}

.profile-details p {
  margin: 5px 0;
}
.single{
  border: 3px solid rgb(28, 28, 31);
  color: #ffffff;
  width: 1500%;
  border-radius: 10px;
  background-color:rgb(28, 28, 31) ;
  margin-left: -42%;

}
.txt{
  border-radius: 10px;
  color: #ffffff;
  padding: 4%;
  border: 2px solid #000;
  width: 850%;
  margin-left: -54%;
  background-color: rgb(28, 28, 31);
}
