.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo{
  width: 4%;
}

.nav-links{
  margin-left: 19%;
  margin-top: 4%;
  display: flex; 
  font-weight: bold;

}
.nav1{
  color: #ffffff;
  
}
.nav2{
  color: #ffffff;
  margin-left: 30%;
  
}
.nav3{
  color: #ffffff;
  margin-left: 55%;
  
  
}

body{
  background-color:rgb(49,51,56);
  margin-top: 135px;
  
}
.nav{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 15%;
  background-color:rgb(2, 7, 37);
  top: 0;
  left: 0;
  color: antiquewhite;
  

}
.main{
  display: flex;
}
.createpost{
  position: fixed;
  margin-top:-3%;
  margin-left: 8%;

}

.search{
  margin-left: 84%;
  margin-top: -2%;
  border-radius: 5em;
  position: fixed;
  background-color:rgb(49,51,56);

}
.post {
  width: 50%;
  margin-left: 7%;
  margin-top: 1%;
  padding: 25px;
  border-radius: 10px;
  color: aliceblue;
  background:rgb(70, 72, 77);
  overflow: auto;
}
.postpic{
  border-radius: 10em;
  width: 6%;
  margin: 2%;

}
.post2{
  display: flex;
}

.ptext{
  background-color:rgb(76, 80, 88);
  border-radius: 1em;
  padding: 4%;
  margin: 1%;
}

.post img {
  border-radius: 1em;
  height:10% ;
  margin-left: 2%;
 
}
.inbox {
  width: 30%;
  border-radius: 10px;
  color: aliceblue;
  background:rgb(70, 72, 77);
  margin-left: 68%;
  margin-top: 1%;
  position: fixed;
  height: 75%;
  overflow: auto;
 
  
 
}
.inboximg{
  width: 36%;
  border-radius: 100%;
}
.frimg{
  width: 10%;
  border-radius: 100%;
}
.cin {
  text-align: center;
  font-size: bold;
  border: 3px solid #302d2d;
  border-radius: 1em;
  
}
.chattxt {
  text-align: center;
  font-size: bold;
  
}


.user-entry {
  border: 2px solid #302d2d;;
  padding: 10px;
  margin: 10px;
  border-radius: 1em;
  margin-left: -3%;
}

.username {
  font-weight: bold;
}

.message {
  margin-top: 5px;
}

.timestamp {
  font-size: 12px;
  color: #888;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 3px solid rgb(28, 28, 31);
  border-radius: 10px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.user-info {
  text-align: center;
  margin-top: 20px;
}

.username {
  font-size: 24px;
}

.full-name {
  font-size: 16px;
  color: #606770;
}

.age,
.dob {
  font-size: 14px;
  color: #606770;
  margin-top: 5px;
}

.edit-profile-button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.edit-profile-button:hover {
  background-color: #1155cc;
}
.friends-list {
  list-style: none;
  padding: 0;
}

.friend-item {
  border: 5px solid #494545;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.friend{
  border: 3px solid rgb(28, 28, 31);
  border-radius: 10px;
}